# Azure OpenAI
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT=gpt-5.2
AZURE_OPENAI_API_VERSION=2025-04-01-preview
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-small

# Tavily Search
TAVILY_API_KEY=t

# Feishu
FEISHU_APP_ID=
FEISHU_APP_SECRET=
FEISHU_DEFAULT_OPEN_ID=

# App
USER_ID=default_user
MEM0_DIR=
